/* The side navigation menu */
.sidenav {
    height:100%;
    width:0;
    background-image:url("../img/bg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding-top:35px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size:18px;
    color: #FFFFFF;
    font-weight:800;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color:gold;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    color:red;
    font-size: 36px;
    margin-left: 50px;
}